:root {
    --dark_blue3: #0A3871;
    --dark_grey5: #343A40;
    --dark_grey4: #495057;
    --grey: #D8DFE8;
    --light_blue1: #F3F5FC;
    --white: #FFFFFF;
  }

body {
    background-color: var(--light_blue1);
    font-family: Inter, sans-serif;
    border: 0;
    margin: 0;
    height: 100vh;
}

header {
    padding-left: 4em;
    padding-top: 2em;
    z-index: 1;
}

main {
    z-index: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
}

.container_main {
    display: flex;
    flex-direction: column;
}

.container_form {
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 680px;
    gap: 1em;
}

.container_advisor{
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.container_button{
    display: flex;
    gap: 2em;
    justify-content: left;
}

.container_output {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--white);
    border-radius: 32px;
    max-width: 380px;
    padding: 1em 1em;
}

.text_advisor{
    font-size: 12px;
    font-weight: 400;
}

.result_output {
    display: none;
    font-size: 2em;
    font-weight: 400;
}

.header_output {
    font-size: 2em;
    font-weight: 700;
}

.text_output {
    font-size: 1em;
    font-weight: 400;
    padding-bottom: 5em;
}

.button_common {
    padding: 1.2rem 5rem;
    font-family: Inter, sans-serif;
    text-decoration: none;
    border: 1px solid var(--dark_blue3);
    font-size: 1rem;
    font-weight: 400;
    border-radius: 24px;
    cursor: pointer;
}

#button_action_criptografar {
    color: var(--white);
    background-color: var(--dark_blue3);

}

#button_action_descriptografar {
    background-color: transparent;
}

#button_action_copiar {
    display: none;
    background-color: transparent;
}

#logo_alura {
    width: 32px;
    height: 48px;
}

#icon_exclamation {
    width: 16px;
    height: 16px;
}

#image_output {
    width: 336px;
    height: 304px;
    padding-top: 5em;
}

#text_input {
    background-color: transparent;
    text-decoration: none;
    border: none;
    font-family: Inter, sans-serif;
    font-size: 36px;
    font-weight: 400;
}
