:root {
  --dark_blue3: #0a3871;
  --dark_blue4: #082850;
  --dark_grey5: #343a40;
  --dark_grey4: #495057;
  --grey: #d8dfe8;
  --light_blue1: #f3f5fc;
  --white: #ffffff;
}

body {
  background-color: var(--light_blue1);
  font-family: Inter, sans-serif;
  border: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

header {
  padding-left: 4em;
  padding-top: 2em;
  z-index: 1;
}

main {
  z-index: 0;
  height: 100%;
}

.container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  flex-wrap: wrap;
}

.container_logo {
  align-self: flex-start;
  padding-top: 2em;
}

.container_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
  width: 100%;
  height: 100%;
  align-items: left;
  max-width: 680px;
}

.container_advisor {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.container_button {
  display: flex;
  justify-content: left;
  gap: 1em;
}

.container_handler_output {
  display: flex;
  height: 90%;
  width: 380px;
}

.container_handler_form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85%;
    width: 680px;
  }

.container_output {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--white);
  border-radius: 32px;
  height: 100%;
  width: 100%;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.022),
    0px 0px 2.4px rgba(0, 0, 0, 0.031), 0px 0px 5px rgba(0, 0, 0, 0.039),
    0px 0px 10.2px rgba(0, 0, 0, 0.048), 0px 0px 28px rgba(0, 0, 0, 0.07);
}

.text_common {
  cursor: default;
}

.text_advisor {
  font-size: 12px;
  font-weight: 400;
}

.result_output {
  font-size: 2em;
  font-weight: 400;
}

.header_output {
  font-size: 2em;
  font-weight: 700;
}

.text_handler_output {
  font-size: 1em;
  font-weight: 400;
}

.button_common {
  width: 328px;
  padding: 1.5em 0;
  font-family: Inter, sans-serif;
  text-decoration: none;
  border: 1px solid var(--dark_blue3);
  font-size: 1em;
  font-weight: 400;
  border-radius: 2em;
  cursor: pointer;
}

#container_handler_output {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding-left: 3px;
  padding-right: 3px;
}

#container_result_output {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

#text_input {
  display: flex;
  background-color: transparent;
  text-decoration: none;
  font-family: Inter, sans-serif;
  font-size: 36px;
  font-weight: 400;
  padding: 3em 0 0 0;
  color: var(--dark_blue3);
  width: 100%;
  height: 100%;
  max-width: 700px;
  max-height: 528px;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

#text_output {
  display: flex;
  word-break: break-word;
  white-space: pre-wrap;
  color: var(--dark_grey4);
}

#text_input:hover {
  border: none;
  padding: none;
}

#button_action_criptografar {
  color: var(--white);
  background-color: var(--dark_blue3);
  transition: filter 1s ease 1s;
}

#button_action_criptografar:active {
  background-color: var(--dark_blue4);
  transition: filter 0s;
}

#button_action_descriptografar {
  background-color: transparent;
  transition: filter 1s ease 1s;
}

#button_action_descriptografar:active {
  background-color: #dfe6ff;
  transition: filter 0s;
}

#button_action_copy {
  margin-bottom: 1.7em;
  background-color: transparent;
  transition: filter 1s ease 1s;
}

#button_action_copy:active {
  background-color: var(--grey);
  transition: filter 0s;
}

#logo_alura {
  width: 32px;
  height: 48px;
}

#icon_exclamation {
  width: 16px;
  height: 16px;
}

#image_output {
  width: 336px;
  height: 304px;
  padding-top: 5em;
}

@media (max-width: 1200px) {
  .container {
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    flex-wrap: nowrap;
  }

  .container_handler_form {
    width: 95%;
    height: auto;
  }

  .container_handler_output {
    width: 95%;
    height: auto;
  }

  .container_logo {
    justify-content: flex-start;
    align-self: center;
    width: 95%;
    height: auto;
    padding: 0;
  }

  .container_button {
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
  }
  .container_form {
    padding: 0 0;
    width: 100%;
    height: auto;
    max-width: none;
  }

  #text_input {
    padding: 0;
    height: 10em;
    max-width: none;
  }

  #image_output {
    display: none;
  }
}
